<nav class="sticky-top px-4 navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand" href="/">
        <img src="/static/img/logo.ico" width="30" height="30" alt="">
    </a>
    <% if(title) { %>
    <p id="location"><%= title %></p>
    <% } %>
</nav>

<style>
    #bottom-nav #icons {
        position: fixed;
        bottom: 0;
        width: 100vw;
        background-color: white;
        height: 60px;
        z-index: 99;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    #bottom-nav a {
        color: black;
        margin-bottom: 0;
        padding: 8px 12px 8px 12px;
        border-radius: 10px;
    }

    @media only screen and (max-width: 1000px) {
        #bottom-nav #icons{
            -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.45);
            -moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.45);
            box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.45);
        }
        
    }

    @media only screen and (min-width: 1000px) {
        #bottom-nav #icons {
            left: 0;
            /* top:40px; */
            flex-direction: column;
            justify-content: flex-start;
            width: 100px;
            height: 100%;
            padding-top: 100px;
        }

        #bottom-nav a {
            margin-bottom: 10px;
            margin-left: 21px;
            padding: 12px 16px 12px 16px;
            border-radius: 10px;
        }

        #bottom-nav #home:hover {
            background-color: lightblue;

        }

        #bottom-nav #races:hover {
            background-color: lightgreen;
        }

        #bottom-nav #profile:hover {
            background-color: lightgoldenrodyellow;
        }
        #bottom-nav #icon-text {
            display: none;
        }
    }
</style>

<div id="bottom-nav">
    <div id="icons">
        <a class="nav-icon" id="home" href="/" onclick="this.style.backgroundColor = 'lightgray'"><span class="fas fa-home"></span></a>
        <a class="nav-icon" id="races" href="/results" onclick="this.style.backgroundColor = 'lightgray'"><span
                class="fas fa-flag"></span></a>
        <a class="nav-icon" id="profile" href="/profile" onclick="this.style.backgroundColor = 'lightgray'"><span
                class="fas fa-user"></span></a>
        <% if(user) { %>
        <% if (user.adminLevel > 3) { %>
        <a class="nav-icon" id="admin" href="/admin" style="background-color: gold"><span class="fas fa-sliders-h"></span></a>
        <% } %>
        <% } %>
    </div>
</div>