<!-- <nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Logo</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/dashboard">Hem</a></li>
            <li><a href="/profile">Profil</a></li>
            <li><a href="/results">Tävlingar / Resultat</a></li>
            <li><a href="/dashboard">Registrering</a></li>
            <% if (user.adminLevel > 3) { %>
            <li><a href="/admin">Admin</a></li>
            <% } %>

            <li><a href="/users/logout">Logga ut</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="/dashboard">Hem</a></li>
    <li><a href="/profile">Profil</a></li>
    <li><a href="/results">Tävlingar / Resultat</a></li>
    <li><a href="/dashboard">Registrering</a></li>
    <% if (user.adminLevel > 3) { %>
    <li><a href="/admin">Admin</a></li>
    <% } %>

    <li><a href="/users/logout">Logga ut</a></li>
</ul> -->

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="/static/img/logo.png" width="28" height="28">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a href="/" class="navbar-item">Hem</a>
            <a href="/profile" class="navbar-item">Profil</a>
            <a href="/results" class="navbar-item">Tävlingar / Resultat</a>
            <a href="/dashboard" class="navbar-item">Registrering</a>
            

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Mer
                </a>

                <div class="navbar-dropdown">
                    <% if (user.adminLevel > 3) { %>
                        <a href="/admin" class="navbar-item">Admin</a>
                    <% } %>
                    <a href="/users/logout" class="navbar-item">Logga ut</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }

    });
</script>