<%- include ('./partials/navbar') %>

<div id="container" class="container">
    <div class="">
        <h2 class="subtitle">Mina Seglingar</h2>
        <div class="stats">
            <div class="stat rounded-circle shadow"
                onclick="this.style.backgroundColor ='lightgray'; location.href = '/results?available=true'">
                <p id="stat1" class="stat-number"></p>
                <p class="stat-text">Tillgängliga</p>
            </div>
            <div class="stat rounded-circle shadow"
                onclick="this.style.backgroundColor ='lightgray'; location.href = '/results?registered=true'">
                <p id="stat2" class="stat-number"></p>
                <p class="stat-text">Anmäld</p>
            </div>
            <div class="stat rounded-circle shadow"
                onclick="this.style.backgroundColor ='lightgray'; location.href = '/results?sailed=true'">
                <p id="stat3" class="stat-number"></p>
                <p class="stat-text">Seglade</p>
            </div>
        </div>

        <hr>
    </div>
    <div id="cards" class="cards mb-5 mt-4" onload="loadCards()">

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="chooseBoat" tabindex="-1" aria-labelledby="chooseBoatLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="chooseBoatLabel">Välj båt</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Du har fler än 1 båt på ditt konto. Välj vilken båt du vill registrera för den här tävlingen.</p>
                <form>
                    <input id="raceIdForModal" type="hidden" value="">
                    <input id="buttontochange" type="hidden" value="">
                    <select name="boatselect" class="form-control selectpicker my-4" id="boatselect">
                        <option value=""></option>
                    </select>
                    <br>
                    <button
                        onclick="registerForRace(this.form.raceIdForModal.value,this.form.boatselect.value,this.form.buttontochange.value)"
                        type="button" class="btn btn-primary" data-dismiss="modal">Registrera</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Stäng</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    (async function () {
        await getUserData().then(response => {
            loadDashboardRaces()
            loadStats()
            unHide()
        })
    })();
</script>