<div class="container mx-auto mt-4">
	<div class="py-2" style="text-align: center;">
		<img src="/static/img/logo.ico" alt="" width="100px" height="100px">
		<h2 id="test"> Klubbsegling</h2>
		<p>Välkommen till sveriges coolaste seglingsapp med resultat från klubbseglingar runt om i landet</p>
	</div>

	<%- include ('./partials/messages') %>
	<form action="/users/login" method="POST" class="py-2">
		<div class="mb-3">
			<label for="exampleInputEmail1" class="form-label">Epost</label>
			<input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp"
				value="fredrik.burmester@gmail.com">
		</div>
		<div class="mb-3">
			<label for="password" class="form-label">Lösenord</label>
			<input type="password" name="password" class="form-control" id="password" value="Hacker97!">
		</div>
		<div class="d-grid">
			<button class="btn btn-primary" type="submit">Logga in</button>
		</div>
	</form>

	<div class="py-3">
		<p>Om du inte vill registrera dig, kolla in resultat och tävlingar!</p>
		<a href="/results" class="btn btn-primary">Se resultat</a>
	</div>
</div>

<script>
	window.onload = function() {
        unHide()
	}
</script>