<div class="container">
	<section class="section">
		<div class="pb-6">

			<img src="/static/img/logo.png" alt="">
			<h1> Klubbsegling</h1>
			<p>Välkommen till sveriges coolaste seglingsapp med resultat från klubbseglingar runt om i landet</p>
		</div>

		<%- include ('./partials/messages') %>

		<form action="/users/login" method="POST">
			<div class="field">
				<label class="label" for="email">Epost</label>
				<div class="control">
					<input class="input" type="email" name="email" placeholder="Epost" value="fredrik.burmester@gmail.com"/>
				</div>
			</div>
			<div class="field">
				<label class="label" for="password">Lösenord</label>
				<div class="control">
					<input class="input" type="password" name="password" placeholder="Lösenord" value="Hacker97!"/>
				</div>
				<div class="pt-2">
					<a href="/forgotpassword">Jag har glömt mitt lösenord.</a>
				</div>
			</div>
			<div class="control">
				<button class="button is-link" type="submit" class="btn btn-primary btn-block">Logga in</button>
			</div>
			<div class="pt-2">
				<a href="/users/register">Registrera dig</a>
			</div>
		</form>
		<div class="pt-6">
			<p>Om du inte vill registrera dig, kolla in information och resultat från klubbarna</p>
			<a href="/results">Se resultat</a>
		</div>
	</section>
</div>