<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Klubbsegling</title>

    <!-- <meta name="apple-mobile-web-app-capable" content="yes"> -->
    <!-- <meta name="apple-mobile-web-app-title" content="Klubbsegling"> -->
    <!-- <meta name="apple-mobile-web-app-status-bar-style" content="default"> -->
    <!-- <meta name="apple-mobile-web-app-status-bar" content="#00428c"> -->

    <link rel="apple-touch-icon" href="/static/img/logo.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/logo-180x180.png">
    <link rel="apple-touch-icon" sizes="192x192" href="/static/img/logo-192x192.png">
    <link rel="apple-touch-icon" sizes="256x256" href="/static/img/logo-256x256.png">

    <link rel="shortcut icon" href="/static/img/logo.ico" type="image/x-icon">

    <link rel="manifest" href="/static/manifest.json">

    <link rel="stylesheet" href="/static/css/style.css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- Bootstrap Select -->
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

    <!-- Notifications -->
    <link href="/static/css/notifications.css" rel="stylesheet">
    
    <!-- Fonts and Icons -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,700&display=swap"
    rel="stylesheet">
    <link href="/static/css/fontawesome.min.css" rel="stylesheet">
    <link href="/static/css/solid.css" rel="stylesheet">

    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- Progressbar -->
    <script src="/static/js/progressbar.js"></script>

</head>

<body id='body' class='load'>
    <script>
        function unHide() {
            document.getElementById('body').classList.add("loaded")
        }
        var RACES = [];
        var USER;
    </script>

    <!-- Extra functions -->
    <script src="/static/js/functions.js"></script>
    
    <%- body %>

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous">
    </script>

    <!-- Bootstrap select -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

    <!-- Notifications -->
    <script src="/static/js/notifications.js"></script>

    <script>
        var screenSizes = [768, 797, 879, 1087]

        //document.getElementById('test').innerHTML = window.innerHeight
        if (screenSizes.includes(window.innerHeight)) {
            document.getElementById('icons').style.height = "80px"
            let navIcons = document.getElementsByClassName('nav-icon')
            for (let i = 0; i < navIcons.length; i++) {
                const e = navIcons[i];
                e.style.marginBottom = "20px";
            }
        }
    </script>

</body>

</html>